body {
  font-family: sans-serif;
  background-color: hsl(0,0%,98%);
  padding: 0;
  margin: 0;
}

#page {
  margin: 0 2em 5em 2em;
  padding: 5em 0 0 0;
}

#info {
  width: 60em;
}

#title-btns {
  float: right;
}

#author {
  display: inline;
  float: left;
}

#subbtn {
  float: right;
  color: white;
  background-color: red;
  border-style: none;
  height: 3em;
  width: 8em;
}

#desc {
  display: inline-block;
  width: 40em;
  margin: -12px 0 0 10px;
}
